<!-- Generic table -->
<table class="bvcTable">
	<thead>
		<tr class="header">
			<webobject name="maySelectRows">
				<th class="select">&nbsp;</th>
			</webobject>
			<webobject name="headerRepetition">
				<webobject name="columnHeader">
					<!-- Header column -->
					<webobject name=columnHeaderCell></webobject>
				</webobject>
			</webobject>
		</tr>
	</thead>
	<webobject name="maySelectRows">
		<tbody>
			<webobject name="rowRepetition">
				<webobject name="tableRow">
					<td class="select">
						<webobject name=isNotEmpty><webobject name="selectBox"></webobject></webobject>
						<webobject name=isEmpty>&nbsp;</webobject>
					</td>
					<webobject name="columnRepetition">
						<webobject name="columnRow">
							<!-- Column -->	
							<webobject name=isNotEmpty><webobject name=columnRowCell></webobject></webobject>
							<webobject name=isEmpty>&nbsp;</webobject>
						</webobject>
					</webobject>
				</webobject>
			</webobject>
		</tbody>
	</webobject>
	<webobject name="mayNotSelectRows">
		<tbody>
			<webobject name="rowRepetition">
				<webobject name="tableRow">
					<webobject name="columnRepetition">
						<webobject name="columnRow">
							<!-- Column -->	
							<webobject name=isNotEmpty><webobject name=columnRowCell></webobject></webobject>
							<webobject name=isEmpty>&nbsp;</webobject>
						</webobject>
					</webobject>
				</webobject>
			</webobject>
		</tbody>
	</webobject>
</table>
<webobject name="actions">
<webobject name="tableActionButton"></webobject></webobject>