<html>
	<head>
		<title>Houdah Movies</title>
		<webobject name="styleSheetLinker"></webobject>
		<webobject name="javaScriptLinker"></webobject>
	</head>
	<body>
		<webobject name="showNavigationControls">
			<div id="navigationControls">
				<div class="flushLeft">
					<webobject name="hasPreviousPage">
						<webobject name="backAction">Back</webobject>
					</webobject> 
				</div>
				<div class="flushLeft">
					<webobject name="englishHome">English</webobject> - <webobject name="frenchHome">French</webobject>
				</div>
			</div>
		</webobject>		
		<br/>
		<div id="contentContainer">
			<div id="content">
				<webobject name="mainPage"></webobject>
			</div>
		</div>
	</body>
</html>