<!-- Generic list -->
<ul class="bvcList">
	<webobject name="rowRepetition">
		<webobject name="row">
			<webobject name="isNotEmpty">
				<!-- Row -->
				<span class="listLabel">
					<webobject name="labelCell"></webobject>
				</span>
				<span class="listValue">
					<webobject name="valueCell"></webobject>
				</span>
			</webobject>
			<webobject name="isEmpty">
				<span class="listLabel">&nbsp;</span>
				<span class="listValue">&nbsp;</span>
			</webobject>
		</webobject>
	</webobject>
</ul>