
{
    attributes = 
    (
       
       {
           columnName = MOVIE_ID;
           externalType = long;
           name = movieID;
           precision = 9;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = SUMMARY;
           externalType = object;
           name = summary;
           valueClassName = NSString;
       }
    );
    attributesUsedForLocking = 
    (
       movieID
    );
    className = com.houdah.movies.business.PlotSummary;
    classProperties = 
    (
       movie, 
       summary
    );
    externalName = PLOT_SUMMARY;
    internalInfo = 
    {
        _clientClassPropertyNames = 
        (
           movie, 
           summary
        );
    };
    maxNumberOfInstancesToBatchFetch = 10;
    name = PlotSummary;
    primaryKeyAttributes = 
    (
       movieID
    );
    relationships = 
    (
       
       {
           destination = Movie;
           isMandatory = Y;
           isToMany = N;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = movieID;
                  sourceAttribute = movieID;
              }
           );
           name = movie;
       }
    );
}