/** Layout */

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font: 12pt arial,sans-serif;
	margin: 0;
	padding: 0;
}

#errorArea
{
	position: relative;
	margin-left: 198px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #f26522;
	background: #fafafa;
	font-size: 120%;
	text-align: left;
}

/** Main Page */

#main
{
	display: table;
	border: 1px solid grey;
	margin-left: 5em;
}

.mainHeaderGroup
{
	display: table-header-group;
	background-color: grey;
	color: white;
}


.mainEntityGroup
{
	display: table-row-group;
}

.mainHeaderRow,
.mainEntityRow 
{
	display: table-row;

}

.mainHeaderRow 
{
	font-weight: bold;
}

.mainHeaderRow span,
.mainEntityRow span
{
	display: table-cell;
	padding: 0.5em;
	width: 20em;
}