<webobject name="Layout">
<div id="main">
	<div class="mainHeaderGroup">
		<div class="mainHeaderRow">
			<span>Browse</span><span>Insert</span>
		</div>
	</div>
	<div class="mainEntityGroup">
		<div class="mainEntityRow">
			<span><webobject name="listMovies">Movies…</webobject></span><span><webobject name="insertMovie">New Movie</webobject></span>
		</div>
	</div>
	<div class="mainEntityGroup">
		<div class="mainEntityRow">
			<span><webobject name="listStudios">Studios…</webobject></span><span><webobject name="insertStudio">New Studio</webobject></span>
		</div>
	</div>
	<div class="mainEntityGroup">
		<div class="mainEntityRow">
			<span><webobject name="listDirectors">Directors…</webobject></span><span><webobject name="insertDirector">New Director</webobject></span>
		</div>
	</div>
	<div class="mainEntityGroup">
		<div class="mainEntityRow">
			<span><webobject name="listTalents">Talents…</webobject></span><span><webobject name="insertTalent">New Talent</webobject></span>
		</div>
	</div>
</div>
</webobject>