<div class="bvcDisplayGroupFieldTable">
	<webobject name="needsBatchingControls1">
		<div class="batchNavigationTop">
			<webobject name="displayPreviousBatch1"></webobject>
			<webobject name="currentBatch"></webobject> / <webobject name="batchCount"></webobject> 
			<webobject name="displayNextBatch1"></webobject>
		</div>
	</webobject>
	<webobject name="table"></webobject>
	<webobject name="needsBatchingControls2">
		<div class="batchNavigationBottom">
			<webobject name="displayPreviousBatch2"></webobject>
			<webobject name="currentBatch2"></webobject> / <webobject name="batchCount2"></webobject> 
			<webobject name="displayNextBatch2"></webobject>
		</div>
	</webobject>
</div>