<div class="bvcDisplayGroupTable">
	<webobject name="needsBatchingControls1">
		<div class="batchNavigationTop">
			<webobject name="prevBatch1"><webobject name="previousActionLabel"></webobject></webobject>
			<webobject name="currentBatch1"></webobject>
			/ 
			<webobject name="batchCount1"></webobject>
			<webobject name="nextBatch1"><webobject name="nextActionLabel"></webobject></webobject>
		</div>
	</webobject>
	<webobject name="table"></webobject>
	<webobject name="needsBatchingControls2">
		<div class="batchNavigationBottom">
			<webobject name="prevBatch2"><webobject name="previousActionLabel"></webobject></webobject>
			<webobject name="currentBatch2"></webobject>
			/ 
			<webobject name="batchCount2"></webobject>
			<webobject name="nextBatch2"><webobject name="nextActionLabel"></webobject></webobject>
		</div>
	</webobject>
</div>