<div class="bvcDisplayGroupList">
	<webobject name="allowNavigation">
		<div class="batchNavigationTop">
			<webobject name="enableNavigation">
				<webobject name="previousObject"><webobject name="previousActionLabel"></webobject></webobject>
				<webobject name="currentIndex"></webobject> / <webobject name="maxIndex"></webobject>
				<webobject name="nextObject"><webobject name="nextActionLabel"></webobject></webobject>
			</webobject>
		</div>
	</webobject>
	<webobject name="HVCList"></webobject>
	<webobject name="allowNavigation">
		<div class="batchNavigationBottom">
			<webobject name="enableNavigation">
				<webobject name="previousObject"><webobject name="previousActionLabel"></webobject></webobject>
				<webobject name="currentIndex"></webobject> / <webobject name="maxIndex"></webobject>
				<webobject name="nextObject"><webobject name="nextActionLabel"></webobject></webobject>
			</webobject>
		</div>
	</webobject>
</div>